<!-- Footer partial -->

<footer class="bg-dark bg-gradient opacity-75 pt-5 pb-4">
  <div class="container text-md-start text-center">
    <div class="row">
      <!-- 1. Hải Sản Store -->
      <div class="col-md-3 mx-auto mt-3">
        <h5 class="text-info text-uppercase mb-4 fw-bold">Hải Sản Blue Sea</h5>
        <p class="link-light fs-4 me-4">
          Chúng tôi cung cấp hải sản tươi sống và chất lượng cao, giao hàng
          nhanh chóng toàn quốc.
        </p>
      </div>
      <!-- 2. Liên hệ -->
      <div class="col-md-4 mx-auto mt-3">
        <h5 class="text-info text-uppercase mb-4 fw-bold">Liên hệ</h5>
        <p class="mb-2">
          <i class="fas fa-home me-2 text-info"></i>
          <span class="text-white"
            >126 Nguyễn Thiện Thành, Phường 5, Trà Vinh</span
          >
        </p>
        <p class="mb-2">
          <i class="fas fa-envelope me-2 text-info"></i>
          <a href="mailto:haisanbluesea@gmail.com" class="link-light"
            >haisanbluesea@gmail.com</a
          >
        </p>
        <p>
          <i class="fas fa-phone me-2 text-info"></i>
          <span class="text-white">0368 356 312</span>
        </p>
      </div>
      <!-- 3. Về chúng tôi -->
      <div class="col-md-2 mx-auto mt-3">
        <h5 class="text-info text-uppercase mb-4 fw-bold">Về chúng tôi</h5>
        <p>
          <a href="/about/about.html" class="link-light text-decoration-none"
            >Giới thiệu</a
          >
        </p>
        <p>
          <a
            href="/product-list/allProduct.html"
            class="link-light text-decoration-none"
            >Hải sản</a
          >
        </p>
        <p>
          <a href="/about/about.html" class="link-light text-decoration-none"
            >Liên hệ</a
          >
        </p>
      </div>
      <!-- 4. Phương thức thanh toán & Kết nối -->
      <div class="col-md-3 mx-auto mt-3">
        <h5
          class="d-flex justify-content-center text-info text-uppercase mb-4 fw-bold"
        >
          Phương thức thanh toán
        </h5>
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fab fa-cc-visa fa-2x me-3 text-info"></i>
          <i class="fab fa-cc-mastercard fa-2x me-3 text-info"></i>
          <i class="fab fa-cc-jcb fa-2x me-3 text-info"></i>
          <i class="fab fa-cc-paypal fa-2x text-info"></i>
        </div>
        <!-- kết nối -->
        <h5
          class="d-flex justify-content-center text-info text-uppercase mb-4 fw-bold"
        >
          Kết nối
        </h5>
        <div class="d-flex justify-content-center">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="link-light me-3"
          >
            <i class="fab fa-facebook-f fa-2x me-3"></i>
          </a>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="link-light me-3"
          >
            <i class="fab fa-instagram fa-2x me-3"></i>
          </a>
          <a href="https://x.com/home" target="_blank" class="link-light me-3">
            <i class="fab fa-twitter fa-2x me-3"></i>
          </a>
          <a href="https://www.youtube.com/" target="_blank" class="link-light">
            <i class="fab fa-youtube fa-2x me-3"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="border-light my-4" />
    <div class="row">
      <div class="col-12">
        <p class="text-center text-white-50 mb-0">
          © 2025 Hải Sản Blue Sea. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
